<div class="row">
    <div class="col-md-4">
        <div>Run tests (open the browser console).</div>
        <button class="btn btn-primary" id="clickme">Run Tests</button>
    </div>
</div>
<pre id ="json" class="well">

</pre>
<script>
    $(document).ready(function () {
        function getRandom() {
            $("#json").text("");
            $.get("/api/ChuckNorrisFunFacts", {}).
                done(function (model) {
                    $("#json").append("getRandom " + JSON.stringify(model, null, 2) + "\n");
                    $.get("/api/ChuckNorrisFunFacts", { count: 2 },
                        function (model) {
                            $("#json").append("getTop 2" + JSON.stringify(model, null, 2) + "\n");
                            newFact = { "Fact": "Some Fact3", "Rating": 10, "ModifiedWhen": "2017-08-01T00:00:00", "ModifiedBy": "Me" };
                            $.post("/api/ChuckNorrisFunFacts", newFact)
                                .done(function (model) {
                                    newFact2 = model;
                                    $("#json").append("post " + JSON.stringify(model, null, 2) + "\n");
                                })
                                .done(function (model) {
                                    $.get("/api/ChuckNorrisFunFacts", { count: 20 },
                                        function (model) {
                                            $("#json").append("getTop 20 " + JSON.stringify(model, null, 2) + "\n");
                                        });
                                    newFact2.Fact = "Some Fact3 Changed";
                                    $.ajax({
                                        url: '/api/ChuckNorrisFunFacts/' + model.Id,
                                        type: 'PUT',
                                        contentType: "application/json; charset=utf-8",
                                        data: JSON.stringify(newFact2),
                                        dataType: 'json'
                                    })
                                        .done(function (model) {
                                            $("#json").append("put " + JSON.stringify(model, null, 2) + "\n");
                                        })
                                        .done(function (model) {
                                            $.get("/api/ChuckNorrisFunFacts", { count: 20 },
                                                function (model) {
                                                    $("#json").append("getTop 20 " + JSON.stringify(model, null, 2) + "\n");
                                                })
                                        })
                                        .done(function (model) {
                                            $.ajax({
                                                url: '/api/ChuckNorrisFunFacts/' + model.Id,
                                                type: 'DELETE',
                                                contentType: "application/json; charset=utf-8",
                                            })
                                                .done(function () {
                                                    $("#json").append("deleted." + model.Id + "\n");
                                                });
                                        })
                                })
                                .done(function () {
                                });
                        });
                });
        }
        $("#clickme").click(function (){
            getRandom();
        });
    });
</script>

